.page-login {
  align-items: center;
  background-color: rgba(146, 146, 146, 0.582);
  border-radius: 5px;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 20px;
}

.content-login {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 40%;
}
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 4px;
    border: 1.5px solid rgb(101, 219, 4);
    box-shadow: 5px 3px rgb(112, 109, 108);
    color: rgb(2, 110, 2);
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    padding: 12px 20px;
    width: 90%;
  }
  
  .title-login {
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    padding: 8px;
    text-align: center;
  }
  
  .email , .password {
    background-color: rgba(255, 255, 255, 0.623);
    border: none;
    border-bottom: 2px solid rgb(2, 110, 2);
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .email:focus , .password:focus {
    border-bottom: 2px solid rgb(101, 219, 4);
    box-shadow: 0;
    outline: 0;
  }
  
  .btn-login {
    border: 2px solid black;
    border-radius: 50px;
    font-size: large;
    margin-top: 10px;
    padding: 5px;
    transition-duration: 0.4s;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .btn-login:disabled {
    color: #052714;
    background-color: #46434333;
  }
  
  .btn-login:enabled {
    background-color: #084718;
    border: 2px solid rgb(101, 219, 4);
    color: white;
  }
  
  .btn-login:enabled:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(101, 219, 4);
    cursor: pointer;
  }
  
  
  body {
    background-color: rgb(56, 59, 58);
  }
  
  .footer-page-login {
    margin: 5px;
    padding: 10px;
    width: 100%;
  }